@font-face{
	src: url(../fonts/AnyConv.com__GT-Super-Display-Regular-Trial.woff);
	font-family: super;
	font-weight: normal;
	font-style: normal;
}

body{
	background-color: white;
	margin: 40px auto;
	max-width: 800px;
	text-align: right;
	line-height: 24px;
}

p{
	font-size: 20px;
}

h4{
	font-size: 20px;
	color: darkred;
	padding-top: 20px;
}

h4:hover{
	color: darkgreen;
}

.fav{
	font-size: 17px;
	color: orange
}

.me{
	opacity: 50%;
}

.left{
	text-align: left;
	font-weight: bold;
}

.price{
	text-align: left;
}

span{
	float: left;
}

span:hover{
	color: darkred;
}

.right{
	text-align: right;
}

.credit{
	text-align: left;
	font-weight: bold;
}

.color:hover{
	color: darkred;
}

footer{
	margin: 50px 0;
	line-height: 10px;
	color: #431A00
}